body {
  background-color: #121212;
}

.see-all:hover {
  text-decoration: underline;
  cursor: pointer;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-list-content {
  max-width: 54rem;
}

.album-list-main-section {
  display: flex;
  flex-direction: column;
}
