.album-detail-container{
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding: 0 50px;
    height: 200px;
    align-items: center;
}

.album-image-container{
    max-height: 500px;
}

.album-detail-image{
    object-fit: cover;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.album-detail-info {
    margin-left: 2rem;
    margin-top: auto;
    width: 100%;
}

.album-detail-info h3{
    font-weight: normal;
    margin: 0;
}

.album-info-title{
    max-width: 50vw;
    font-size: 4rem;
    font-weight:bold;
    margin: 0.5rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

  .album-songs {
    background-color: #242424;
    border-radius: 20px;
    width: 80%;
    align-items: center;
    margin: 2rem auto;
    padding: 0 2rem;
    padding-bottom: 2rem;
    
}

.album-song-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-edit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-edit-container a{
    cursor: auto;
}
